/* Import custom fonts */
@import "fonts.css";

/* Global CSS files for all styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.react-icons {
    vertical-align: middle;
    color: white;
}

body {
    color-scheme: dark;
}
