/* Import custom fonts */
@import "fonts.css";

/* Global CSS files for all styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set global CSS */
html {
    color-scheme: dark;
}

.react-icons {
    vertical-align: middle;
    color: white;
}
